@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*{
  box-sizing: border-box;
}

h1,h2{
  font-weight: 900;
}

h2{
  font-size: 30px;
}

.mainPage{
  margin: 0;
  padding: 0;
  background-color: #929487;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}

.contentPages{
  margin: 0;
  padding: 0;
  background-color: #A1B0AB;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}

.mainContainer {
  display: flex;
  flex-direction: column;
}

.navWrapper {
  display: flex;
  justify-content: center;
  background-color: #6B6054;
  padding-right: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

.navLinkContainer1{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 80vw;
  font-size: 30px;
  align-items: center;
  color:white;
}

a{
  color : white;
}



a:hover {
  color: black;
}

.title{
  color: white;
  font-size: 32px;
}

.threeColumnContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: baseline;
  flex-wrap: wrap;
  padding-top: 1.5vw;

}
.twoColumnContainer1{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 1.5vw;
}

.specialcase{
  color: black;
}

.oneColumn{
    display: flex;
    flex-direction: column;
    width: 49%;
    position: relative;
    align-items: center;
  }

  .oneColumn2{
    display: flex;
    flex-direction: column;
    width: 49%;
    position: relative;
    align-items: center;
    }

.oneColumn1{
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  width:30%;
  }

.smallContainer{
  display: flex;
  justify-content: center;
  font-size: 35px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

.info{
  display: flex;
  width: 100%;
  position: relative;
  align-items:center;
  flex-wrap: wrap;
  padding-top: 1.5vw;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 35px;
}

.content{
  display: flex;
  width: 100%;
  position: relative;
  align-items:center;
  flex-wrap: wrap;
  padding-top: 1.5vw;
  flex-direction: row;
  justify-content: space-around;

}

.text,.image{
  display: flex;
  flex-direction: column;
  width: 49%;
  position: relative;
  align-items: center;
}



.header2{
  display: flex;
  font-size: 40px;
  font-weight: 900;
}

.hometext{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  font-size: 25px;
  line-height: 2;
  color: white;
}

.indextext{

  width: 75%;
  font-size: 25px;
  line-height: 2;
  color: white;
}

#stats{
  display: flex;
  width: 90%;
  position: relative;
}


@media only screen and (max-width: 600px) {

  .menu {
    flex-direction: column;
    width: 80vw;
    font-size: 25px;
    background-color:black;
  }

  .navWrapper{
    background-color: black;
  }

  .threeColumnContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .oneColumn1{
    width:80%;
  }

  .content{
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .text{
    width: 95%;
  }

  #stats{
    width: 140%;
  }

  .twoColumnContainer1{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .oneColumn,.oneColumn2{
    width: 90%;
  }
}

@media only screen and (min-width: 800px){

  .menu {
    flex-direction: row;
    width: 80vw;
    background-color: white;
  }

  .navWrapper{
    background-color: white;
  }

  a{
    color : black;
    padding-bottom: 10px;
  }

  a:hover {
    color: white;
  }

  .title{
    color: black;
    font-size: 32px;
  }
}
